* {
    padding: 0;
    margin: 0;
}

*:not(i) {
    font-family: 'Alex Brush', cursive !important;
}

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: white;

}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: rgb(157, 196, 219);
}

html::-webkit-scrollbar-thumb {
    background: #0188f7;
}


.container::-webkit-scrollbar {
    width: 0.5rem;
}

.container::-webkit-scrollbar-track {
    background: rgb(157, 196, 219);
}

.container::-webkit-scrollbar-thumb {
    background: #bb6ece;
}

h1 {
    text-align: center;
    color: white;
    margin: 8px 0;
}

/* nav bar styling begins here */
nav .nav-items {
    margin-top: 9rem;
}

nav .nav-items li {
    list-style: none;
    padding: 20px 0px;
    text-align: center;
    margin: 5px 0;


}

nav .nav-items li a.active,
nav .nav-items li a:hover {
    color: #a403df;
    border-bottom: 0.3rem solid #a503dfdb;
    padding: 0.5rem 0;
    border-radius: 0.1rem;
    transition: all 0.2s linear !important;
}

nav .nav-items li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
    cursor: pointer;
}


/* nav bar styling ends here */


/* note input section styling begins here */
#input-box {
    width: 350px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 12px -1px #616164;
    border-radius: 7px;
}

#input-box input,
textarea {
    outline: none;
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 1.5rem;
    border: none;
    border-radius: 7px;
}

#add-btn {
    display: block;
    padding: 8px;
    width: 100px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
    font-size: 15px;
    height: 40px;
    background-color: #2f276c;
    color: white;
    box-shadow: 5px 5px 12px -1px #2f276c;
    outline: none;
    border: none;
}


#add-btn:hover {
    color: #13eb30;
    background-color: #201c3f;
    cursor: pointer;
}

/* note input section styling ends here */

/* notes styling begins here */

.note {
    border: 1px solid black;
    width: 280px;
    height: 300px;
    padding: 2rem;
    border-radius: 7px;
    box-shadow: 5px 5px 12px -1px #616164;
}

.btn-list {
    display: flex;
    justify-content: space-between;
}

.note .btn {
    display: block;
    padding: 8px;
    width: 40px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
    font-size: 15px;
    height: 35px;
    background-color: #2f276c;
    color: white;
    box-shadow: 3px 3px 5px 0px black;
    outline: none;
    border: none;
    cursor: pointer;
}

.note .delete:hover {
    background-color: rgb(209, 47, 47);
}

.note .archive:hover {
    background-color: rgb(216, 214, 103);
}

.note .btn:hover i {
    scale: 125%;
}

.note .title {
    margin-top: 10px;
    font-size: 1.7rem;
    background-color: white;
    border-radius: 5px;
}

.note .text {
    font-size: 1.7rem;
    background-color: white;
    resize: none;
}

/* note styling begins here */


/* tool tip styling for button begins here */
.note .delete::after {
    content: "Remove";
    position: relative;
    top: -60px;
    left: -65%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.note .delete:hover::after {
    opacity: 1;
    visibility: visible;
}


.note .archive::after {
    content: "Archive";
    position: relative;
    top: -60px;
    left: -65%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.note .archive:hover::after {
    opacity: 1;
    visibility: visible;
}

.note .permanent-delete::after {
    content: "Erase";
    position: relative;
    top: -60px;
    left: -65%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.note .permanent-delete:hover::after {
    opacity: 1;
    visibility: visible;
}

.note .undo::after {
    content: "Restore";
    position: relative;
    top: -60px;
    left: -65%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.note .undo:hover::after {
    opacity: 1;
    visibility: visible;
}

/* tool tip styling for button ends here */

/* styling for notes list,deleted list,archive list begins here */
#notes-list {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

#deleted-list {
    margin-top: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

#archived-list {
    margin-top: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

/* styling for notes list,deleted list,archive list ends here */

.dev-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}



/*Grid layout design begins here*/
header {
    grid-area: header;
    background: linear-gradient(to bottom, #4f8edd, #a87bc1);
}

nav {
    grid-area: nav;
    background: linear-gradient(to bottom, #bdd1f0, #dbcbe7);
}

.search {
    grid-area: search;
    background: linear-gradient(to bottom, #bdd1f0, #dbcbe7);
    text-align: center;
}

.search input {
    width: 70%;
    height: 3.3rem;
    margin: 15px auto;
    font-size: 1.8rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid;
    padding: 0 10px;
}

.container {
    grid-area: main;
    overflow-y: auto;
    padding: 3rem;
    background: linear-gradient(to bottom, #bdd1f0, #dbcbe7);
}

footer {
    grid-area: footer;
    border: 2px solid;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, #4f8edd, #a87bc1);
}

.mega-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "header header header header header header"
        "nav search search search search search"
        "nav main main main main main"
        "footer footer footer footer footer footer";
    grid-template-rows: 50px 55px 440px 50px;
    max-height: 100vh;
    gap: 0.7rem;
}

/*Grid layout design ends here*/